.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  min-width: 100%;
  background: linear-gradient(to bottom, #8190b8, #5078e9);
  clip-path: polygon(0 21%, 100% 0, 100% 79%, 0 100%);
  overflow-x: hidden;
  
}

.main {
  margin: auto;
  max-width: 112%;

}

.card {
  padding: 20px;
  width: 200px;
  max-width: 400px;
  max-height: 400px;
  min-height: 300px;
  border-radius: 15px;
  background-color: #f5f8f8;
  transition: transform 0.3s ease;
}

.social{
  width: 50px;
  height: 50px;
  background-color: #5078e9;
  border-radius: 50%;
  padding: 10px;
  fill:aliceblue;
 
}
.gitLink{
  height: 50px;
  max-width: 50px;
  position: absolute;
  z-index: 1;
  bottom: 30px;
}

.title {
  padding: 10px;
  color: black;
  font-weight: 700;
}

.aboutProject {
  margin: auto;
  max-height: 200px;
  text-align: center;
  color: hsl(var(--muted-foreground));
  
}



@media screen and (max-width: 1350px) {
  .card{
    max-width: 400px;
  }
 
}



@media screen and (max-width: 1200px) {
  .card{
    max-width: 300px;
  }
 
}

@media screen and (max-width: 900px) {
  .card{
    max-width: 360px;
  }
 
}

@media screen and (max-width: 725px) {
  .card{
    max-width: 90%;
    
  }
 
}