/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/_components/moduleCss/contact.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.contact_container____Svb{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  min-height: 500px;
  height: 600px;
}

.contact_containerform__gDK7J{
  height: 600px;
  min-height: 500px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_containerform__gDK7J h1{
  text-align: center;
}

.contact_tanksContainer__FjrCm{
  display: flex;
  align-items: center;
}
.contact_areaTanks__FlyCM{
  background-color: aliceblue;
  height: 300px;
  border-radius: 5px;
  margin-right: -5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_areaTanks__FlyCM h1{
  margin-bottom: 20px;
  color: hsl(var(--muted-foreground));
}
.contact_areaTanks__FlyCM p{
  color: hsl(var(--muted-foreground));
}


.contact_areaTanks__FlyCM svg{
  width: 30%;
}

.contact_formContainer__GEdJS{
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin-top: 20px;
  background: linear-gradient(to bottom, #5982f3, #5078e9);
  padding: 30px;
  border-radius: 10px;
}
.contact_formContainer__GEdJS label{
  margin-left: 10px;
}
.contact_alignInput__1lBE9{
display: flex;
align-items: center;
justify-content: center;

}

.contact_text__Z2GQH{
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
}
.contact_input__ZvmsJ input{
  display: flex;
  flex-direction: column;
  margin:10px 5px 5px ;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.contact_submit___rbLi{
  background-color: #fff;
  border-radius: 5px;
  width: 70px;
  padding: 10px;
  position: relative;
  left: 420px;
  color: hsl(var(--muted-foreground));
}

@media screen and (max-width: 900px) {
  .contact_areaTanks__FlyCM{
    display: none;
  }
}
@media screen and (max-width:600px) {
  .contact_alignInput__1lBE9{
    display: flex;
    flex-direction: column;
  }
  .contact_submit___rbLi{
    position: static;
  }
  .contact_formContainer__GEdJS{
    width: 100%;
  }
  .contact_input__ZvmsJ input{
    margin: 0 0 10px;
    padding: 15px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/_components/moduleCss/footer.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.footer_container__AHd2d{
  background-color: #5078e9;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 270px;
  margin-top: 100px;
}

.footer_footer__cvbri{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.footer_title__hYeFb{
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}

.footer_itemsBlog__qF4o8{
  display: flex;
  flex-direction: column;
}
.footer_itemsSocial__DUMEX{
  display: flex;
  flex-direction: column;
}

.footer_link__ztieT{
  color: #d3d1d1;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  .footer_itemsSocial__DUMEX{
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .footer_itemsBlog__qF4o8{
    display: none;
  }
  .footer_container__AHd2d{
    height: 200px;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format('embedded-opentype'), url(/_next/static/media/slick.653a4cbb.woff) format('woff'), url(/_next/static/media/slick.6aa1ee46.ttf) format('truetype'), url(/_next/static/media/slick.f895cfdf.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/_components/moduleCss/portifolio.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.portifolio_container__bmVKl {
  display: flex;
  justify-content: center;
  height: 700px;
  background: linear-gradient(to bottom, #8190b8, #5078e9);
  -webkit-clip-path: polygon(0 21%, 100% 0, 100% 79%, 0 100%);
          clip-path: polygon(0 21%, 100% 0, 100% 79%, 0 100%);
  overflow-x: hidden;
}

.portifolio_main__d3kqu {
  margin: auto;
  max-width: 1700px;
  min-width: 400px;
 
}

.portifolio_card__FOXZf {
  padding: 20px;
  width: 200px;
  max-width: 550px;
  max-height: 400px;
  min-height: 300px;
  border-radius: 15px;
  background-color: #f5f8f8;
  transition: transform 0.3s ease;
  margin-right: 20px;
  margin-left: auto;
  margin-right: auto; 
  display: flex;
}

.portifolio_social__w2cCD{
  width: 50px;
  height: 50px;
  background-color: #5078e9;
  border-radius: 50%;
  padding: 10px;
  fill:aliceblue;
 
}


.portifolio_title__WYYMb {
  padding: 10px;
  color: black;
  font-weight: 700;
}

.portifolio_aboutProject__PuIGM {
  margin: auto;
  height: 400px;
  max-height: 200px;
  text-align: center;
  color: hsl(var(--muted-foreground));
  
}
.portifolio_linksContainer__QdnaP {
  display: flex;
  
}




.portifolio_gitLink__4XhN0, .portifolio_detailsLink__wvHrM, .portifolio_onlineLink__XNdEt {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 20px;
}

.portifolio_detailsButton__UjHH9, .portifolio_onlineButton__uz_DK {
  
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
}

.portifolio_detailsButton__UjHH9:hover, .portifolio_onlineButton__uz_DK:hover {
  background-color: #0056b3;
}




@media screen and (max-width: 1650px) {
  .portifolio_card__FOXZf{
    max-width: 500px;
  }
 
}



@media screen and (max-width: 1500px) {
  .portifolio_card__FOXZf{
    max-width: 450px;
  }
 
}

@media screen and (max-width: 1350px) {
  .portifolio_card__FOXZf{
    max-width: 630px;
    margin-left: 20px;
  }
 
}
@media screen and (max-width: 1260px) {
  .portifolio_card__FOXZf{
    max-width: 550px;
    margin-left: 20px;
  }
 
}

@media screen and (max-width: 1100px) {
  .portifolio_card__FOXZf{
    max-width: 500px;
    margin-left: 20px;
  }
 
}
@media screen and (max-width: 1000px) {
  .portifolio_card__FOXZf{
    max-width: 450px;
    margin-left: 20px;
  }
 
}

@media screen and (max-width: 900px) {
  .portifolio_card__FOXZf{
    max-width: 800px;
    position: relative;
    left: 3%;
  }
 
}

@media screen and (max-width: 850px) {
  .portifolio_card__FOXZf{
    max-width: 700px;
    position: relative;

  }
 
}

@media screen and (max-width: 800px) {
  .portifolio_card__FOXZf{
    max-width: 600px;
    position: relative;
    left: 3%;
  }
 
}

@media screen and (max-width: 650px) {
  .portifolio_card__FOXZf{
    max-width: 400px;
    position: relative;
  }
  .portifolio_detailsLink__wvHrM, .portifolio_onlineLink__XNdEt {
    margin-left: 30px;  
  }
  
}

@media screen and (max-width: 450px) {
  .portifolio_card__FOXZf{
    max-width: 360px;
    position: relative;
  }
  .portifolio_detailsLink__wvHrM, .portifolio_onlineLink__XNdEt {
    margin-left: 50px;  
    
  }

  .portifolio_gitLink__4XhN0, .portifolio_detailsLink__wvHrM, .portifolio_onlineLink__XNdEt {
    width: 55px;
    padding: 2px;
  }
 
}
@media screen and (max-width: 375px) {
  .portifolio_card__FOXZf{
    max-width: 340px;
    position: relative;
    
  }
  .portifolio_detailsLink__wvHrM, .portifolio_onlineLink__XNdEt {
    margin-left: 50px;  
  }
 .portifolio_linksContainer__QdnaP{
  position: relative;
  right: 30px;
 }
 
}

